.aspect-ratio-Switch {
  aspect-ratio: 900/1458;
}

.aspect-ratio-Wii {
  aspect-ratio: 1407/2016;
}

.aspect-ratio-WiiU {
  aspect-ratio: 1418/2031;
}

.aspect-ratio-GC {
  aspect-ratio: 455/649;
}

.aspect-ratio-3DS {
  aspect-ratio: 1/1;
}

.aspect-ratio-GBA {
  aspect-ratio: 1/1;
}

.aspect-ratio-DS {
  aspect-ratio: 1/1;
}

.aspect-ratio-PSP {
  aspect-ratio: 778/1354;
}

.aspect-ratio-PS2 {
  aspect-ratio: 942/1330;
}

.game-card-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 0px #ecf0f1, 6px 9px 9px rgba(0, 0, 0, 0.2);
  transition: box-shadow ease-in-out 0.05s;
  box-sizing: border-box;
}

.game-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 2;
}

.game-card-no-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 25%;
  font-family: Arcade;
  font-size: 18px;
  background-color: white;
  color: black;
  font-weight: bold;
  z-index: 2;
}

.game-card-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
  z-index: 3;
}

.game-card-container:focus,
.game-card-container:hover {
  cursor: pointer;
  outline: 2px solid #ecf0f1;
  box-shadow: 0 0 10px #ecf0f1, 10px 15px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow ease-in-out 0.05s;
}

.game-card-running,
.game-card-not-running {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.75)
  );
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #ecf0f1;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  z-index: 4;
  transition: all 0.1s ease-in-out;
}

.game-card-not-running {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.game-card-not-running-highlighted,
.game-card-not-running:hover {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

.game-card-running-indicator {
  color: #2ecc71;
}
