.input-link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 300;
  border: none;
  background-color: white;
}

.input-link-with-button {
  padding-right: 15%;
}

.input-link:focus {
  outline: none;
}

.choose-file-button-light {
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  border-radius: 35px;
  background-color: #2c3e50;
  padding: 8px 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.15s ease-in-out;
}

.choose-file-button-light:hover {
  cursor: pointer;
  background-color: #435466;
  transition: background-color 0.15s ease-in-out;
}

.input-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
}

.no-display {
  display: none;
}
